*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
footer{
   display: flex;
    width: 100vw;
    position: fixed;
    height: 80px;
    background-color: rgb(52, 52, 55);
}
main{
    height: calc(100vh - 80px);
}
main .sidebar{
    background-color: rgb(0, 0, 0);
    width: 230px;
    height: 100%;
    overflow: auto;
    position: relative;
    padding-bottom: 80px;
}
.sidebar img{
    width: 130px;
    margin: 20px 15px;
}
.logo img:nth-child(2){
    width: 20px;
    display: none;
}
.home-two .fa-solid{
    color: rgb(162, 157, 157);
    font-size: 2rem;
    vertical-align: middle;
}
.home-two .fa-solid:hover{
    color: white;
}
.home ul li a:hover{
    color: white;
}
.home ul li a{
    text-decoration: none;
    color: rgb(162, 157, 157);
}
.home ul li{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}
.container-flex{
    display: flex;
    height: 100%;
}
.home img{
    width: 20px;
    margin: 10px 10px;
}
.home-two{
    height: calc(100% - 180px);
    overflow: auto;
}
.home-two ul li a:hover{
    color: white;
}
.home-two ul li a{
    text-decoration: none;
    color: rgb(162, 157, 157);
}
.home-two ul li{
    margin: 10px 15px;
    font-size: 0.9rem;
}
.home-two .fa-regular{
    color: lightgray;
    font-size: 2rem;
}
.home-two h3{
    color: white;
    text-align: left;
    margin: 15px 0;
}
.abs{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
}
.abs .fa-regular{
    font-size: 0.8rem;
    margin: 8px;
    color: lightgrey;
}
.topbar{
    display: grid;
    background-color: rgb(20, 23, 22);
    height: 80px;
}
.btn{
    align-self: center;
    justify-self: end;
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    color: white;
    background-color: rgb(20, 23, 22);
    border: white solid 1px;
}
.btn:hover{
    transform: scale(1.1);
}
.container-music{
    overflow: auto;
    background-color: rgb(38, 37, 42);
    width: 100%;
}
.nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
.nav ul li a{
    text-decoration: none;
    color: rgb(169, 164, 164);
    margin: 0 7px;
    font-size: 0.9rem;
}
.nav ul li a:hover{
    color: white;
}
.title {
    color: white;
    padding: 30px 5px;
}
.container-card{
    display: flex;
}
.card{
    position: relative;
    cursor: pointer;
    width: calc(100% / 6);
    padding: 0px 3px;
}
.card img{
    width: 100%;
}
.card img:hover{
    opacity: 0.5;
}
.card .fa-regular{
    position: absolute;
    top: 80px;
    left: 80px;
    display: none;
}
.card:hover .fa-regular{
    display: block;
}
.card .fa-regular{
    color: white;
    font-size: 3rem;
}
.round{ 
border-radius: 50%;
overflow: hidden;
}
h3{
    color: white;
    font-size: 0.9rem;
    text-align: center;
}
 h4{
    color: rgb(169, 164, 164);
    font-size: 0.6rem;
    text-align: center;
}
h5{
    color: rgb(169, 164, 164);
    margin-top: 10px;
}
.container-foot{
    display: flex;
    width: 100%;
    padding: 10px;
    height: 80px;
    justify-content: space-between;
}
.left-foot{
    width: 230px;
    display: flex;
}
.container-foot img{
    width: 40px;
    margin-top: 10px;
}
.titlefoot{
    text-align: center;
    align-self: center;
    margin-left: 5px;
}
.iconefoot{
    color: rgb(169, 164, 164);
    margin-top: 13px;
    margin-left: 20px;
}
.iconefoot:hover{
    color: white;
}
.titlefoot h4:hover{
    text-decoration: underline;
    color: white;
}
.advance{
    width: 40%;
}
.advance .fa-solid{
    margin: 10px 10px;
    color: white;
}
.advance .fa-regular{
    padding-top: 3px;
    margin: 0 15px;
    color: white;
    font-size: 1.7rem;
}
.advance .fa-regular:hover{
    transform: scale(1.1);
}
.play-buttons{
    display: flex;
    justify-content: center;
}
.center-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span{
    color: white;
    font-size: 0.7rem;
}
.line{
    position: relative;
    display: flex;
    width: 80%;
    height: 3px;
    background-color: rgb(176, 173, 173);
}
.linegreen{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    height: 3px;
    background-color: white;
}
.linegreen:hover{
    background-color: rgb(160, 230, 63);
}
.advance-two{
    width: 200px;
    display: flex;
    align-items: center;
}
.advance-two .fa-solid{
    margin: 10px 10px;
    color: white;
}
.line-two{
    position: relative;
    width: 190px;
    height: 3px;
    background-color: rgb(176, 173, 173);
}
.linetwogreen{
    position: absolute;
    height: 3px;
    width: 25px;
    background-color: white;
}
.linetwogreen:hover{
    background-color: rgb(160, 230, 63);
}
@media screen and (max-width:1100px) {
    .container-card{
        flex-wrap: wrap;
    }
    .card{
        width: calc(100% / 4);
        padding: 10px;
    }
}
@media screen and (max-width:700px) {
    .nav ul{
        flex-wrap: wrap;
    }
    .nav ul li{
        padding: 10px;
    }
    .card{
        width: calc(100% / 2);
        padding: 10px;
    }
}
@media screen and (max-width:600px) {
    .sidebar strong{
        display: none;
    }
    .sidebar{
        max-width:fit-content
    }
    .sidebar .logo img:nth-child(1){
        display: none;
    }
    .home-two{
        display: none;
    }
    hr{
        display: none;
    }
    .abs h3{
        display: none;
    }
    .abs a{
        display: none;
    }
    .logo img:nth-child(2){
        display: block;
    }
}